/* @import '~normalize.css'; */
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,700,900);

body {
	font-family: 'Montserrat';
}

.containers {
	width: 100%;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
	/* border: 2px solid black; */
}
.item{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width:991px) {
	.item {
		flex-wrap: wrap;
	}
}